@model KegStarter.Models.BeerHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BeerHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brewery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brewery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Current)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Current)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTapped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTapped)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BeerHistoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
