@model IEnumerable<KegStarter.Models.BeerHistory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brewery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Current)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTapped)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brewery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Current)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTapped)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BeerHistoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BeerHistoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BeerHistoryId })
        </td>
    </tr>
}

</table>
